{% extends 'base.html.twig' %}

{% block title %}Titre de la page{% endblock %}

{% block body %}
    <section id="content__presentation">
        <div id="content__presentation__welcome">
            <p>Bienvenue sur le site de <span>votre entreprise</span></p>
            <img src="image/pain.jpg">
        </div>
    </section>
{% endblock %}
