{% extends 'base.html.twig' %}

{% block title %}Titre de la page{% endblock %}

{% block body %}
    <section>
        <img src="image/pain.jpg">
        <p>Bienvenue sur le site de [votre entreprise]</p>
    </section>
{% endblock %}
